body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-image: url(./img/kuwaitcodes.png);
  font-family: cairo;
}
.card {
  /* المطلوب الثاني هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 12px 12px 5px rgba(230, 224, 224, 0.63);
  
}

img {
  /* المطلوب الثالث هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.39);
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  
}

a:hover{

  text-shadow: 10px 10px yellow;


}